body{
    background-color: aqua;
    color: aliceblue;
}  
h1{
    color: bisque;
    font-style: italic;
    text-align: center;
}
 .div{background-color: black;
/* align-items:center ; */
justify-content: center;
display: flex; 
}
.firstbutton{
    margin: 5px;
    padding:5px 10px;
    top: 20px;
    left: 20px;
    cursor: pointer;
    border: 3px dotted seagreen;

}
/* button:hover{
    background-color: brown;
color: blueviolet;} */
.secondbuttonJS{
    color: black;
    background-color: aqua;
}
.secondbutton{ margin: 30px;
padding:5px 10 px;
background-color: black;
color:blue;
border-radius: 18px;
}
